.footer {
    margin-top: 25px;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.676);
    position:fixed;
    bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect p {
    margin: 0;
    color: #fff;
}