* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    margin: 10px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}
p {
    text-align: justify;
    margin: 10px;
}
.btn {
    text-align: -webkit-center;
}
.input{
    display: grid;
    justify-content: center;
}
#namunaNo {
    width: 150px;
    padding: 7px;
    font-size: 15px;
    font-weight: 550;
    border-radius: 4px;
}
#btn, #getData {
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: 700;
    background-color: rgba(191, 191, 255, 0.537);
}
#getData {
    margin-top: 10px;
    display: none;
}
.table {
    margin-left: 10px;
}
table {
    border-collapse: collapse;
    margin: 25px 18px;
    /* font-size: 20px; */
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.249); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table thead tr {
    background: rgb(56, 154, 253);
    /* background-color: #3FA0D7; */
    color: #ffffff;
    text-align: center;

    font-weight: bold;
}
table th, td {
    padding: 6px 5px;    
}

table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 255, 0.258);
   
}
table tbody tr:nth-of-type(even) {
    background-color: rgba(34, 0, 255, 0.073);

}
table tbody tr:last-of-type {
    border-bottom: 1px solid #009879;
}

.X, .iptChart, .dicision {
    font-size: 15px;
    width: 55px;
    text-align: right;
    font-weight: 550;
    
    padding: 3px;
}
.R {
    font-size: 15px;
    width: 55px;
    text-align: right;
    font-weight: 550;
    
    padding: 3px;
}
.nad {
    font-size: 15px;
    width: 55px;
    text-align: right;
    font-weight: 550;
   
    padding: 3px;
}

#arrData,#addtable {
    display:  grid;
    justify-content: center;
}
#arrData table thead th {
    width: 70px;
}
#arrData table tbody tr td, #addtable table tbody tr td {
    text-align: center;
}
 .xcl, .rcl {
    width: 300px;
    margin: 10px;
    
}
#cl {
    margin: 10px;
}
#chartData{
    display: grid;;
    justify-content: center;
}
math {
    font-size: 20px;
}
#lineChart1, #lineChart2 {
    height: 100px;
}
.xrDiv {
    display: inline;
}
button {
    display: block;
}
.chartName {
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    border-radius: 0px 25px 0px 25px;
    background-color: pink;
    text-decoration: underline
}
.showChrt {
    display: none;
    width: 100%;
}
samp {
    padding-left: 25px;
}

.tableData {
    justify-content: center;
    display: grid;
}
#chName {
    background-color: rgb(218, 253, 218);
    text-align: center;
    padding: 9px;
    font-size: 18px;
    border-radius: 8px;
}
.custum {
    margin: 10px;
    min-width: 450px;
    min-height: auto;
}
.scrol {
    overflow: auto;
    white-space: nowrap;
}
.arrTable {
    margin: 10px;
}
main {
    display: none;
}
.loder-svg {
    height: 70vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.conWidth {
    border: 2px solid black;
    /* width: 70px; */
    max-width: 70px;
    /* overflow:inherit; */
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0px 2px;
    
}

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }